:host {
  display: block;
  padding: 16px;
  border-width: 2px;
  border-style: solid;
  border-color: #E2E2E2;
  border-radius: 16px;
  margin-bottom: 16px;
}

.date-picker-header {
  font-size: 16px;
  padding-bottom: 16px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: #E2E2E2;
}

.month-year {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.month-year-button {
  background-color: transparent;
  padding: 4px 8px;
  border-width: 0;
}

.week-days,
.month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 4px;
  column-gap: 4px;
  text-align: center;
  padding: 4px;
}

.week-days {
  font-size: 14px;
  text-transform: uppercase;

  >span {
    height: 50px;
    line-height: 50px;
  }
}

.month-days {
  font-size: 14px;
  row-gap: 0;
  column-gap: 0;
  padding: 0;
}

.month-day {
  position: relative;
  height: 50px;
  background-color: transparent;
  line-height: 50px;
  padding: 0;
  border-width: 0;
  border-radius: 32px;
  transition: background-color 0.125s, color 0.125s, box-shadow 0.125s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:disabled {
    cursor: default;
  }

  &.month-day-info {
    &:not(:disabled) {
      &:before {
        content: '';
        position: absolute;
        bottom: 8px;
        left: 50%;
        width: 4px;
        height: 4px;
        background-color: var(--secondaryColor);
        border-radius: 100%;
        transform: translateX(-50%);
      }
    }
  }
}

.month-day-selected {
  background-color: var(--secondaryColor);
  color: #FFF;
  box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
