<div class="breadcrumb-content">
  <div>
    <h2 class="cursor" (click)="handleBack()">Meus dados</h2>
    <span>></span>
    <h2>Alterar senha</h2>
  </div>
</div>

<section class="profile-container">
  <div class="profile-card">
    <div>
      <h3>Alterar senha</h3>
    </div>

    <form [formGroup]="form" (ngSubmit)="handleSubmit()">
      <div class="profile-card-content">
        <div [ngClass]="displayFieldCss('currentPassword')">
          <label for="currentPassword"
            >Senha atual <abbr class="input-required">*</abbr>
          </label>
          <input
            type="password"
            formControlName="currentPassword"
            id="currentPassword"
            appTogglePasswordDisplay
          />
          <app-form-error
            [control]="form.get('currentPassword')"
          ></app-form-error>
        </div>

        <div style="display: block" [ngClass]="displayFieldCss('newPassword')">
          <label for="newPassword"
            >Nova senha <abbr class="input-required">*</abbr></label
          >
          <input
            type="password"
            formControlName="newPassword"
            id="newPassword"
            appTogglePasswordDisplay
            top="50px"
          />
          <app-form-error [control]="form.get('newPassword')"></app-form-error>
        </div>

        <div>
          <label for="confirmNewPassword"
            >Confirmar nova senha <abbr class="input-required">*</abbr></label
          >
          <input
            type="password"
            [formControl]="confirmPassword"
            id="confirmNewPassword"
            appTogglePasswordDisplay
          />
        </div>

        <p class="message-error">{{ messageError }}</p>

        <div class="btn-content">
          <app-button
            buttonType="submit"
            [buttonLoading]="formLoading"
            label="Salvar"
          >
          </app-button>
        </div>
      </div>
    </form>
  </div>
</section>
