.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 706px;
  background: #ffffff;
  border-radius: 8px;
  gap: 30px;
}

.profile-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
  }
}

.btn-content {
  width: 335px;
  margin: 0 auto !important;
}
