.alert-container {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0505056c;
  z-index: 8000;
}

.alert-content {
  background-color: #ffffff;
  font-size: 0.85em;
  position: fixed;
  top: calc(50% - 92px);
  left: calc(50% - 240px);
  z-index: 8001;
  overflow: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 480px;
  padding: 10px 20px;
  gap: 10px;
}

.title-alert {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
  margin-top: 20px !important;
  word-break: break-word;
}

.box-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  font-size: 12px;
  height: 40px;

  button {
    flex: 1;
    background-color: transparent;
    color: #00000099;
    text-transform: capitalize !important;
    display: flex;
    justify-content: center;
  }
}

.btn-cancel {
  color: var(--secondaryColor) !important;
}

@media screen and (max-width: 840px) {
  .alert-content {
    max-width: 350px;
    left: calc(50% - 175px);
  }
}
