a {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: var(--secondaryColor);
  display: flex;
  align-items: center;
  gap: 7px;

  svg {
    width: 17px;
    height: 17px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
