a {
  color: #00000060;
}

h1 {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 15px 30px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 0px #dfdfdfde;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 7px;
}

.user-name {
  margin: 0 5px;
}

.btn-dropdown {
  background: transparent;
  svg {
    width: 15px;
    height: 15px;
  }
}

.menu-dropdown {
  position: absolute;
  top: 70px;
  right: 45px;
  width: 165px;
  height: 126px;
  padding: 0;
  border-radius: 8px;
  box-shadow: 1px 1px 8px 0px #00000060;
  background-color: #fff;
  transform: translateY(0);
  transition: transform 0.3s;
  opacity: 1;
  z-index: 1500;

  li {
    height: 62px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 15px;
    cursor: pointer;
    position: relative;

    &:hover,
    &:focus {
      text-decoration: underline;

      a {
        color: var(--secondaryColor);
      }
    }
  }
}

.dropdownInactive {
  transform: translateY(-330px);
  opacity: 0;
}

.link-active {
  text-decoration: underline;
}

.icon-logout {
  fill: none;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 840px) {
  .menu-container {
    padding: 5px 5px 5px 10px;
    font-size: 0.8em;
  }

  .menu-mobile {
    display: block;
  }

  .menu-dropdown {
    top: 78px;
  }

  .btn-dropdown {
    margin-right: 15%;
  }

  .user-info {
    display: none;
  }

  .user-name {
    display: none;
  }
}
