<app-list [controller]="controller">
  <ng-container header>
    <th>Nome</th>
    <th>E-mail</th>
    <th>Perfil de acesso</th>
  </ng-container>

  <ng-container body *ngFor="let item of controller.list; index as i">
    <tr class="select-item">
      <td>{{ item?.name }}</td>
      <td>{{ item?.email }}</td>
      <td>
        <p>
          {{ item?.accessLevel?.name }}
        </p>
      </td>

      <td class="status">
        <app-list-status-button
          [controller]="controller"
          [item]="item"
          [index]="i"
          [blockedName]="controller.EBlockedName['blocked']"
        ></app-list-status-button>
      </td>

      <td class="actions">
        <app-list-actions-button
          [controller]="controller"
          [item]="item"
        ></app-list-actions-button>
      </td>
    </tr>
  </ng-container>
</app-list>
