<section>
  <header class="menu-container">
    <h1 [attr.aria-label]="title" class="cursor">
      <img
        routerLink="/user/home"
        [title]="title"
        alt="Logo"
        src="assets/logos/logo.png"
      />
    </h1>

    <div class="user-info">
      <div>
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM5.07 16.28C5.5 15.38 8.12 14.5 10 14.5C11.88 14.5 14.51 15.38 14.93 16.28C13.57 17.36 11.86 18 10 18C8.14 18 6.43 17.36 5.07 16.28ZM16.36 14.83C14.93 13.09 11.46 12.5 10 12.5C8.54 12.5 5.07 13.09 3.64 14.83C2.62 13.49 2 11.82 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 11.82 17.38 13.49 16.36 14.83ZM10 4C8.06 4 6.5 5.56 6.5 7.5C6.5 9.44 8.06 11 10 11C11.94 11 13.5 9.44 13.5 7.5C13.5 5.56 11.94 4 10 4ZM10 9C9.17 9 8.5 8.33 8.5 7.5C8.5 6.67 9.17 6 10 6C10.83 6 11.5 6.67 11.5 7.5C11.5 8.33 10.83 9 10 9Z"
            fill="black"
            fill-opacity="0.6"
          />
        </svg>

        <p class="user-name">{{ userData.fullName }}</p>
      </div>

      <div>
        <button (click)="handleLogout()">
          <svg
            class="icon-logout"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16 17L21 12L16 7"
              stroke="black"
              stroke-opacity="0.6"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M21 12H9"
              stroke="black"
              stroke-opacity="0.6"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H9"
              stroke="black"
              stroke-opacity="0.6"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          Sair
        </button>
      </div>
    </div>
  </header>

  <div class="home-container">
    <section class="profile-container">
      <div class="profile-card">
        <div>
          <h3>Meus dados</h3>
        </div>

        <form [formGroup]="formUser" (ngSubmit)="handleEditUser()">
          <div class="form-content" *ngIf="formUser.controls.photo?.value">
            <div class="form-content-item" [ngClass]="displayFieldCss('photo')">
              <app-files-upload
                [widthContainer]="200"
                [heightContainer]="200"
                [control]="formUser.controls.photo"
                [readOnly]="true"
              >
                Foto
                <abbr class="input-required">*</abbr>
              </app-files-upload>
            </div>
          </div>

          <div class="profile-card-content">
            <div [ngClass]="displayFieldCss('fullName')">
              <label for="fullName"
                >Nome <abbr class="input-required">*</abbr></label
              >
              <input
                formControlName="fullName"
                type="text"
                id="fullName"
                placeholder="Nome"
                readonly
              />
              <app-form-error [control]="form.get('fullName')"></app-form-error>
            </div>

            <div [ngClass]="displayFieldCss('email')">
              <label for="email"
                >E-mail <abbr class="input-required">*</abbr></label
              >
              <input
                formControlName="email"
                type="email"
                id="email"
                placeholder="E-mail"
                readonly
              />
              <app-form-error [control]="form.get('email')"></app-form-error>
            </div>

            <div [ngClass]="displayFieldCss('phone')">
              <label for="phone"
                >Telefone <abbr class="input-required">*</abbr></label
              >
              <input
                formControlName="phone"
                type="text"
                id="phone"
                placeholder="Telefone"
                mask="(00) 00000-0000"
                readonly
              />
              <app-form-error [control]="form.get('phone')"></app-form-error>
            </div>

            <!-- <div class="btn-content">
              <app-button
                buttonType="submit"
                [buttonLoading]="userFormLoading"
                label="Salvar"
                [height]="'40px'"
              >
              </app-button>
            </div> -->
          </div>
        </form>
      </div>

      <div class="profile-card">
        <div>
          <h3>Alterar senha</h3>
        </div>

        <form [formGroup]="form" (ngSubmit)="handleSubmit()">
          <div class="profile-card-content">
            <div [ngClass]="displayFieldCss('currentPassword')">
              <label for="currentPassword"
                >Senha atual <abbr class="input-required">*</abbr>
              </label>
              <input
                type="password"
                formControlName="currentPassword"
                id="currentPassword"
                appTogglePasswordDisplay
                top="50px"
              />
              <app-form-error
                [control]="form.get('currentPassword')"
              ></app-form-error>
            </div>

            <div
              style="display: block"
              [ngClass]="displayFieldCss('newPassword')"
            >
              <label for="newPassword"
                >Nova senha <abbr class="input-required">*</abbr></label
              >
              <input
                type="password"
                formControlName="newPassword"
                id="newPassword"
                appTogglePasswordDisplay
                top="50px"
              />
              <app-form-error
                [control]="form.get('newPassword')"
              ></app-form-error>
            </div>

            <div>
              <label for="confirmNewPassword"
                >Confirmar nova senha
                <abbr class="input-required">*</abbr></label
              >
              <input
                type="password"
                [formControl]="confirmPassword"
                id="confirmNewPassword"
                appTogglePasswordDisplay
                top="50px"
              />
            </div>

            <p class="message-error">{{ messageError }}</p>

            <div class="btn-content">
              <app-button
                buttonType="submit"
                [buttonLoading]="formLoading"
                label="Salvar"
                [height]="'40px'"
              >
              </app-button>
            </div>
          </div>
        </form>
      </div>

      <div class="profile-card">
        <div>
          <h3>Remover conta</h3>
        </div>

        <p>Ao remover sua conta de acesso, todos seus dados serão excluidos.</p>

        <div class="btn-content m60px">
          <app-button
            [label]="'Remover conta'"
            [height]="'40px'"
            (click)="handleDeleteAccount()"
            [buttonLoading]="loading"
            [backgroundColor]="'#dc3545'"
          ></app-button>
        </div>
      </div>
    </section>
  </div>
</section>
